html, body {
	background-color: #fafcfb;
	color: #e4b736;
	font-family: 'Open Sans';
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 16px;
	line-height: 1.5rem;
}

p {
	color: #393d33;
	font-size: 0.875rem;
	text-align: left;
	margin-bottom: 20px;
}

.gold {
	color: #e4b736;
}

.green{
	color: #95c651;
}

.right{
	text-align: right;
	padding-right: 20px;
}

.bg-header {
	background-color: #e4b736;
	background: url('../img/cover_ss_fond.png') no-repeat center fixed;
	background-size: cover;
	-moz-background-size:cover;
	-webkit-background-size: cover;
	height: 600px;
}

.bg-center {
	background: url('../img/sitetesla.png') no-repeat center fixed;
	background-size: cover;
	-moz-background-size:cover;
	-webkit-background-size: cover;
	background-color: #e4b736;
	height: 600px;
}

#bg-color {
	background-color: #e4b736;
	opacity: 0.86;
}

.container.header{
	display: table;
	height: 600px;
}

.container.header > .row {
	display: table-cell;
	vertical-align: middle;
}

h2 { margin-bottom: 20px;}

.header h1, .header h2 {
	font-weight: 700;
	font-size: 1.6rem;
	text-transform: uppercase;
	color: #fafcfb;
}

.header h2 {
	border: 1px solid #fafcfb;
	display: inline-block;
	padding: 4px 8px;
}

.header h3 {
	font-weight: 300;
	font-style: italic;
	font-size: 1.4rem;
	color: #fafcfb;
}

h1, h2, h3{
	line-height: 1.5;
}

#black { color: #393d33}

#header-nav.affix-top {
    position: absolute;
  	width: 100%;
}
  
#header-nav.affix {
	z-index: 2;
    position: fixed;
    top:0px;
    width:100%;
    margin-bottom: 65px;
}

.nav-tabs {
	border: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav > li > a:hover,
.nav > li > a:focus {
	color: #e4b736;
	background-color: #fafcfb;
	border:none;
	font-weight: 700;
}

.nav-tabs > li {
	float: none;
}

.nav-tabs > li > a {
	border: none;
	color: #d9d1b8;
	font-weight: 600;
}

nav {
	background-color: #fafcfb;
	width: 100%;
	height: 65px;
	display: table;
	border-bottom: 1px solid #e4b736;
}

nav > ul {
	display: table-cell;
	vertical-align: middle;
}

.nav li {
	list-style: none;
	display: inline-block;
	margin:0 15px;
	text-transform: uppercase;
	font-size: 0.875rem;
}

.fixed {
	position:fixed;
	top:0;
	z-index: 1000;
}

.bloc {
	display: block;
	height: 65px;
	background-color: red;
	z-index: 1000;
}

#Taxis-Chalons-en-Champagne-Suippes {
	height: auto;
	padding-top: 65px;
	padding-bottom: 10px;
}

.panel-default > .panel-heading {
	background-color: #e4b736;
	border-radius: 0;
	border-color: #faf1d7;
	color: #FAFCFB;
	font-size: 0.95rem;
}

.panel-default {
	font-size: 0.875rem;
	background-color: #fafcfb;
	border-color: #e4b736;
	border-radius: 0;
}

.list-group-item {
	background-color: #fafcfb;
	border-color: #faf1d7;
	color: #393d33;
	text-align: left;
}

a, a:hover, a:active {
	color:#e4b736;
	text-decoration: none;
}


#map-container {
	width:100%;
	height:600px;
	margin-bottom: 0px;
}

.content h1, .contact h1 {
	padding: 40px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.7rem;
}

.content h2 {
	font-size: 1.4rem;
	font-size: 300;
}

#Transports-de-Malades-Assis-Hopital-Clinique-Marnete ul li {
	font-size: 0.875rem;
	color: #1a2c23;
	text-align: left;
	list-style: none;
}

.contact {
	height: auto;
	color: white;
	background: #e4b736;
}

.contact h2 a {
	font-size: 1.4rem;
	color: white;
	font-weight: 600;
}

.contact h3 {
	font-size: 0.8rem;
}

.ou {
	font-style: italic;
}

.cgauche {
	border: 1px solid white;
	margin-bottom: 40px;
}

/*.form-inline, .input-group, .btn, .input {
	margin: 5px;
	width: 100%;
	border-radius: 4px;
}*/

.form-inline > .row {
	margin-bottom: 4px;
}

.form-inline .input-group, .form-inline .form-control {
	width: 100%;
}

textarea.form-control {
	height: 150px;
	border-radius: 0;
}

.form-control, .form-control:focus, .btn-default {
	border-color: #c9a130;
	box-shadow: none;
}

 .btn-default,
 .btn-default:hover,
 .btn-default:focus,
 .btn-default.focus,
 .btn-default:active,
 .btn-default.active,
 .open > .dropdown-toggle.btn-default {
	background-color: white;
	color: #c9a130;
	border-color: #c9a130;
	border-radius: 0;
}

@media (max-width: 768px) {
	.nav-tabs > li > a {padding-right: 500;padding-left: 0;}
	.contact h2 a{font-size: 1.2rem;}
}