body {
	background-color: #fafcfb;
	color: #e4b736;
	font-family: 'Open Sans';
	margin: 0;
	text-align: center;
}

a {
	color:#e4b736;
	text-decoration: none;
}

h1, h2 {
	font-weight: 700;
}

h2 {
	border: 1px solid #e4b736;
	display: inline-block;
	padding: 4px 8px;
}

h3 {
	font-weight: 300;
	font-style: italic;
}

hr {
	border-top: 1px solid #e4b736;
	height: 0px;
	width: 300px;
}

#header {
	width: 100%;
	margin: 40px auto;
}

#map-container {
	position: absolute;
	width:100%;
	height:500px;
	margin-bottom: 0px;
}
